f
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bệnh viện tiêm chủng </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CareMed demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Src/styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Src/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Src/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Src/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Src/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Src/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Src/styles/about.css">
    <link rel="stylesheet" type="text/css" href="~/Src/styles/about_responsive.css">
</head>
<body>

    <div class="super_container">
        <!-- Header -->

        <header class="header trans_200">
            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                <div class="top_bar_item"><h3 style="color:red">VNVC</h3></div>
                                <div class="top_bar_item"><h3 style="color:red">Hệ thống tiêm chủng</h3></div>
                                <div class="emergencies  d-flex flex-row align-items-center justify-content-start ml-auto">Liên hệ : + 024 47558 623</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <nav class="main_nav ml-auto">
                                    <ul>
                                        <li><a href="#">Trang Chủ</a></li>
                                        <li><a href="~/Home/Contact">Liên Hệ</a></li>
                                        @{
                                            var kh = Session["KhachHang"] as CMS.Models.KhachHang;
                                            if (kh == null)
                                            {
                                                <li><a href="~/Login">Đăng nhập</a></li>
                                                <li><a href="~/DangKy">Đăng ký</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="~/DatLichTiem">Lịch tiêm</a></li>
                                                <li>Xin chào, @kh.Ten</li>
                                                <li><a href="~/Login/DangXuat">Đăng xuất</a></li>
                                            }
                                        }
                                    </ul>
                                </nav>
                                <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Menu -->
        <div class="menu_container menu_mm">
            <div class="menu_close_container">
                <div class="menu_close"></div>
            </div>
            <div class="menu_inner menu_mm">
                <div class="menu menu_mm">
                    <ul class="menu_list menu_mm">
                        <li><a href="#">Trang Chủ</a></li>
                        <li><a href="~/Home/Contact">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Home -->
        <div class="home">
            <div class="home_slider_container">
                <div class="owl-carousel owl-theme home_slider">
                    <div class="owl-item">
                        <div class="home_slider_background" style="background-image:url(/Src/images/home_background_1.jpg);height:550px"></div>
                        <div class="home_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content_inner">
                                            <div class="home_title"><h3 style="color:red">Tiêm chủng VNVC</h3></div>
                                            <div class="home_text">
                                                <p>Hệ thống tiêm chủng VNVC (thuộc Công ty Cổ phần Vacxin Việt Nam) chính thức đi vào hoạt động từ tháng 6 năm 2017. Trong bối cảnh thế giới đang phải đương đầu với tình trạng biến đổi phức tạp của các chủng vi khuẩn gây bệnh cũng như sự thiếu hụt vắc xin tại Việt Nam như hiện nay, Hệ thống tiêm chủng VNVC ra đời nhằm cung cấp cho trẻ em Việt Nam những loại vắc xin có chất lượng tốt nhất cùng với hệ thống phòng tiêm chủng an toàn, hiện đại và cao cấp.</p>
                                            </div>
                                            <div class="button home_button">
                                                <p>Với những mục tiêu đó, Công ty VNVC đã xây dựng dây chuyền bảo quản lạnh (Cold chain) đạt tiêu chuẩn GSP </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Progress -->
                <div class="home_slider_progress"></div>
            </div>
        </div>

        <!-- 3 Boxes -->
        <div class="boxes" style="margin-top:30px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 box_col">
                        <div class="box working_hours">
                            <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width:29px; height:29px;"><img src="/Src/images/alarm-clock.svg" alt=""></div></div>
                            <div class="box_title">Giờ làm việc chúng tôi</div>
                            <div class="working_hours_list">
                                <ul>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div>Thứ 2 – Thứ 6</div>
                                        <div class="ml-auto">8.00 – 19.00</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div>Thứ 7</div>
                                        <div class="ml-auto">9.30 – 17.00</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div>Chủ nhật</div>
                                        <div class="ml-auto">9.30 – 15.00</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 box_col">
                        <div class="box box_appointments">
                            <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width: 29px; height:29px;"><img src="/Src/images/phone-call.svg" alt=""></div></div>
                            <div class="box_title"> Liên hệ :</div>
                            <div class="box_text"> Phone : + 024 47558 623</div>
                            <div class="box_text"> Email : vnvc@gmail.com</div>
                        </div>
                    </div>
                    <div class="col-lg-4 box_col">
                        <div class="box box_emergency">
                            <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width: 37px; height:37px; margin-left:-4px;"><img src="/Src/images/bell.svg" alt=""></div></div>
                            <div class="box_title">Tiêm chủng</div>
                            <div class="box_emergency_text">Đạt tiêu chuẩn quốc tế</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About add -->
        <div class="about">
            <div class="container">
                <div class="row">

                    <!-- About Content -->
                    <div class="col-lg-8">
                        <div class="section_title"><h2> Phòng khám bệnh viện </h2></div>
                        <div class="row loaders_container">
                            <div class="col-md-3 loader_col">
                                <!-- Loader -->
                                <h4>Chất lượng nhà cung cấp</h4>
                                <div class="loader" data-perc="0.99">
                                    <span>Số nhà cung cấp : @ViewBag.soncc </span>
                                </div>
                            </div>
                            <div class="col-md-3 loader_col">
                                <!-- Loader -->
                                <h4>Chất lượng vắc xin tiêm </h4>
                                <div class="loader" data-perc="1">
                                    <span>Số loại vắc xin  : @ViewBag.sovx</span>
                                </div>
                            </div>
                            <div class="col-md-3 loader_col">
                                <!-- Loader -->
                                <h4>Chất lượng nhân viên </h4>
                                <div class="loader" data-perc="1"><span>Nhân viên : @ViewBag.sonv</span></div>
                            </div>
                            <div class="col-md-3 loader_col">
                                <!-- Loader -->
                                <h4> Khách hàng thân thiện </h4>
                                <div class="loader" data-perc="1"><span>Số khách hàng : @ViewBag.sokh</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bảng giá -->
        <div>
            <div class="card">
                <div class="card-header">
                    <h2> Bảng giá</h2>
                </div>
                <div class="card-body">
                    <table id="dataTable" class="table table-bordered  dataTable">
                        <thead>
                            <tr class="text-center">
                                <th style="text-align: center; width: 5%"> Tên vắc xin </th>
                                <th style="text-align: center; width: 15%"> Nhà cung cấp </th>
                                <th style="text-align: center; width: 15%"> Phòng bệnh </th>
                                <th style="text-align: center; width: 15%"> Giá tiền </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.banggia)
                            {
                                <tr>
                                    <td style="text-align:center">
                                        @item.Ten
                                    </td>
                                    <td style="text-align:center">
                                        @item.TenNCC
                                    </td>
                                    <td style="text-align:center">
                                        @item.PhongBenh
                                    </td>
                                    <td style="text-align:center">
                                        @item.GiaTien VND
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials">
            <div class="testimonials_background parallax-window" data-parallax="scroll" data-image-src="/Src/images/testimonials.jpg" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div><h2>Đánh giá của bệnh nhân</h2></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="testimonial">
                            <div class="test_icon d-flex flex-column align-items-center justify-content-center"><img src="/Src/images/quote.png" alt=""></div>
                            <div>Bệnh viện đầy đủ tiện nghi ,trang trọng. Nhân viên nhiệt tình giúp đỡ mọi người.</div>
                            <div class="test_author d-flex flex-row align-items-center justify-content-start">
                                <div class="test_author_image"><div><img src="/Src/images/test_1.jpg" alt=""></div></div>
                                <div><a href="#">Lan Anh</a>, <span>Bệnh nhân</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 test_col">
                        <div class="testimonial">
                            <div class="test_icon d-flex flex-column align-items-center justify-content-center"><img src="/Src/images/quote.png" alt=""></div>
                            <div>Bệnh viện rất đầy đủ tiện nghi ,đội ngũ nhân viên nhiệt tình giúp đỡ.Rất oke.</div>
                            <div class="test_author d-flex flex-row align-items-center justify-content-start">
                                <div class="test_author_image"><div><img src="/Src/images/test_2.jpg" alt=""></div></div>
                                <div><a href="#">Bình Anh</a>, <span>Bệnh nhân</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team -->
        <div class="team">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title"><h2>Bác sĩ nổi bật</h2></div>
                    </div>
                </div>
                <div class="row team_row">
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/Src/images/team_1.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">TS.BS Lê Quốc Việt</a></div>
                                <div class="team_member_title">Cơ xương khớp</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/Src/images/team_2.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">PGS.TS Nguyễn Minh Hiền</a></div>
                                <div class="team_member_title">Nội tim mạch</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/Src/images/team_3.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">GS.TS Phạm Thị Hồng Hoa</a></div>
                                <div class="team_member_title">Nội tiết</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 team_col">
                        <div class="team_member">
                            <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="/Src/images/team_4.png" alt=""></div>
                            <div class="team_member_info">
                                <div class="team_member_name"><a href="#">TS.BS Nguyễn Văn Quýnh</a></div>
                                <div class="team_member_title">Hàm răng mạch</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer_container">
                <div class="container">
                    <div class="row">

                        <!-- Footer - About -->
                        <div class="col-lg-4 footer_col">
                            <div class="footer_about">
                                <ul class="footer_about_list">
                                    <li><div class="footer_about_icon"><img src="images/phone-call.svg" alt=""></div><span>Số điện thoại : + 024 47558 623</span></li>
                                    <li><div class="footer_about_icon"><img src="images/envelope.svg" alt=""></div><span>Email : vnvc@gmail.com</span></li>
                                    <li><div class="footer_about_icon"><img src="images/placeholder.svg" alt=""></div><span>Address: B3 - Xã Đàn - Đống Đa - Hà Nội</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Src/js/jquery-3.2.1.min.js"></script>
    <script src="~/Src/styles/bootstrap4/popper.js"></script>
    <script src="~/Src/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Src/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Src/plugins/easing/easing.js"></script>
    <script src="~/Src/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Src/js/custom.js"></script>

    <script src="~/Src/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Src/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Src/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Src/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Src/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Src/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/Src/js/about.js"></script>
</body>
</html>