@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div>
            <h3 class="card-title"> Lịch tiêm:</h3>
        </div>
        @*<div style="float:right">
                <button class="btn btn-primary" id="create_sp">
                    Tạo mới
                </button>
            </div>*@
    </div>
    <div class="card-body">
        <table id="dataTable" class="table table-bordered  dataTable">
            <thead>
                <tr class="text-center">
                    <th style="text-align: center; width: 5%">STT</th>
                    <th style="text-align: center; width: 5%">Mã lịch tiêm </th>
                    <th style="text-align: center; width: 5%">Mã khách hàng </th>
                    <th style="text-align: center; width: 20%">Ngày tiêm </th>
                    <th style="text-align: center; width: 20%">Địa điểm tiêm </th>
                    <th style="text-align: center; width: 20%">Bác sĩ </th>
                    <th style="text-align: center; width: 15%">Trạng thái</th>
                    <th style="text-align: center; width: 25%">Cập nhật trạng thái </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                    string ma = "KH0";
                    foreach (var item in ViewBag.result)
                    {
                        <tr>
                            <td style="text-align:center">
                                @index
                            </td>
                            <td style="text-align:center">
                                @item.Id
                            </td>
                            <td style="text-align:center">
                                @ma@item.IdKH
                            </td>
                            <td style="text-align:center">
                                @item.NgayTiem.ToString()
                            </td>
                            <td style="text-align:center">
                                @item.DiaDiemTiem
                            </td>
                            <td style="text-align:center">
                                @{
                                    var lst = ViewBag.Bacsi as IEnumerable<CMS.Models.NhanVien>;
                                    var bs = lst.Where(x => x.Id == item.IdBacSi).FirstOrDefault();
                                    var ten = bs == null ? "" : bs.Ten;
                                }
                                @ten
                            </td>
                            @if (item.TrangThai == 1)
                            {
                                <td style="text-align:center">
                                    Chấp nhận
                                </td>
                            }
                            else if (item.TrangThai == 2)
                            {
                                <td style="text-align:center">
                                    Đã tiêm
                                </td>
                            }
                            else if (item.TrangThai == 3)
                            {
                                <td style="text-align:center">
                                    Đã đợi sau tiêm tiêm
                                </td>
                            }
                            else if (item.TrangThai == -1)
                            {
                                <td style="text-align:center">
                                    Chưa phê duyệt
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center">
                                    Từ chối
                                </td>
                            }
                            <td style="text-align:center">

                                @if (Session["Menu"].ToString() == "admin" || Session["Menu"].ToString() == "bacsi")
                                {
                                    <a id="view_" href="#" onclick="view_('@item.Id')"><i class="fas fa-eye"></i></a>
                                    <a id="update_" href="#" onclick="update_('@item.Id')"><i class="fas fa-edit"></i></a>
                                }
                                @if ((item.TrangThai == 1 || item.TrangThai == 2 || item.TrangThai == 3) && (Session["Menu"].ToString() == "ketoan" || Session["Menu"].ToString() == "admin"))
                                {
                                    <a id="export_" href="#" onclick="export_('@item.Id')"><i class="fas fa-file-download"></i></a>
                                }
                            </td>
                        </tr>
                        index++;
                    }

                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="view" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="ten_view">Tên bệnh nhân</label>
                            <input readonly type="text" class="form-control" id="ten_view">
                        </div>
                        <div class="form-group">
                            <label for="diachi_view">Địa chỉ </label>
                            <input readonly type="text" class="form-control" id="diachi_view">
                        </div>
                        <div class="form-group">
                            <label for="sodt_view">Số điện thoại</label>
                            <input readonly type="number" class="form-control" id="sodt_view">
                        </div>
                        <div class="form-group">
                            <label for="ngaysinh_view"> Ngày sinh </label>
                            <input readonly type="date" class="form-control datepicker-days" id="ngaysinh_view">
                        </div>
                        <div class="form-group">
                            <label for="gioitinh_view">Giới tính</label>
                            <input readonly type="text" class="form-control" id="gioitinh_view">
                        </div>
                        <div class="form-group">
                            <label for="chieucao_view">Chiều cao (cm) </label>
                            <input readonly type="number" step="0.01" class="form-control" id="chieucao_view">
                        </div>
                        <div class="form-group">
                            <label for="cannang_view">Cân nặng (kg)</label>
                            <input readonly type="number" step="0.01" class="form-control" id="cannang_view">
                        </div>
                        <div class="form-group">
                            <label for="diung_view">Dị ứng </label>
                            <textarea readonly class="form-control" id="diung_view"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="benhhientai_view">Các bệnh hiện tại </label>
                            <textarea readonly class="form-control" id="benhhientai_view"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="mangthai_view">Bạn có đang mang thai ?</label>
                            <input readonly type="text" class="form-control" id="mangthai_view">
                        </div>
                        <div class="form-group">
                            <label for="dieutribenh_view">Bạn có đang trong quá trình điều trị bệnh ? </label>
                            <input readonly type="text" class="form-control" id="dieutribenh_view">
                        </div>
                    </div>
                </form>
                <div class="text-center"><img style="width: 160px;" src="" id="qr_code" /></div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal CRUD -->
<div class="modal fade" id="create_view" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái tiêm </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="ma" hidden>
                        </div>
                        <div class="form-group">
                            <label for="tendl">Mã khách hàng </label>
                            <input type="text" class="form-control" id="idkh" disabled>
                        </div>
                        @{
                            var display = Session["Menu"] == "admin" ? "block;" : "none;";
                        }
                        <div class="form-group" style="display: @display">
                            <label for="tendl">Địa điểm tiêm</label>
                            <input type="text" class="form-control" id="diadiemtiem">
                        </div>
                        <div class="form-group" style="display: @display">
                            <label for="chinhanh"> Bác sĩ </label>
                            <select class="form-control" id="bacsi">
                                @foreach (var item in ViewBag.Bacsi)
                                {
                                    <option value="@item.Id">@item.Ten</option>
                                }
                            </select>
                        </div>
                        @if (Session["Menu"] == "admin")
                        {
                        }
                        <div class="form-group">
                            <label for="chinhanh"> Trạng thái </label>
                            <select class="form-control" id="trangthai">
                                <option value="-1">Chưa phê duyệt</option>
                                <option value="0">Từ chối</option>
                                <option value="1">Chấp nhận</option>
                                <option value="2">Đã tiêm</option>
                                <option value="3">Đã đợi sau tiêm</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_view" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="card-body">
                        <h4>Bạn chắc chắn xóa hồ sơ này?</h4>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Colse</button>
                <button type="button" class="btn btn-primary" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#create_sp").click(function () {
        $('#idkh').val("");
        $('#create_view').modal('show');
    });
    $("#create").click(function () {
        $('#overlay').show();
        var data =
        {
            Id: $('#ma').val(),
            TrangThai: $('#trangthai').val(),
            IdBacSi: $('#bacsi').val(),
            DiaDiemTiem: $('#diadiemtiem').val()
        };
        $.ajax({
            type: 'GET',
            url: '/LichTiem/CreateOrUpdate',
            data: data,
            success: function (response) {
                if (response == false) {
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-danger m-1',
                        autohide: true,
                        delay: 2000,
                        title: 'Lỗi!',
                        body: 'Đã có lỗi xảy ra!'
                    });
                }
                else {
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-success m-1',
                        autohide: true,
                        title: 'Notification!',
                        body: 'Successs!'
                    });
                    $('#create_view').modal('hide');
                    location.reload();
                }
            },
            error: function (data) {
                console.log(data);
            }
        })
    });
    function update_(id) {
        $.ajax({
            type: 'GET',
            url: '/LichTiem/findOne?Id=' + id + '',
            success: function (data) {
                if (data != null) {
                    $('#ma').val(data.Id);
                    $('#idkh').val('KH0' + data.IdKH);
                    $('#trangthai').val(data.TrangThai);
                    $('#bacsi').val(data.IdBacSi);
                    $('#diadiemtiem').val(data.DiaDiemTiem);
                }
                $('#create_view').modal('show');
            },
            error: function (data) {
                console.log(data);
            }
        })
    }
    function export_(id) {
        var data =
        {
            idLichTiem: id,
        };
        $.ajax({
            type: 'POST',
            url: '/HoaDon/Create',
            data: data,
            success: function (data) {
                if (data == -1) {
                    alert("Hoá đơn đã được xuất trước đó");
                } else if (data == 0) {
                    alert("Có lỗi khi xuất hoá đơn");
                } else {
                    alert("Đã xuất hoá đơn");
                }
            },
            error: function (data) {
                console.log(data);
            }
        })
    }
    function delete_(id) {
        $('#ma').val(id);
        $('#delete_view').modal('show');
    }
    $('#delete').click(function () {
        $.ajax({
            url: 'Delete/' + $('#ma').val() + '',
            success: function (data) {
                if (data == false) {
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-danger m-1',
                        autohide: true,
                        delay: 2000,
                        title: 'Lỗi!',
                        body: 'Đã có lỗi xảy ra!'
                    });
                }
                else {
                    $('#table').dataTable().api().ajax.reload();
                    $(document).Toasts('create', {
                        icon: 'fas fa-exclamation-triangle',
                        position: 'bottomRight',
                        class: 'bg-success m-1',
                        autohide: true,
                        delay: 2000,
                        title: 'Notification!',
                        body: 'Successs!'
                    });
                    $('#delete_view').modal('hide');
                    location.reload();
                }
            }
        })
    })
    function formatDate(date = new Date()) {
        const year = date.toLocaleString('default', { year: 'numeric' });
        const month = date.toLocaleString('default', {
            month: '2-digit',
        });
        const day = date.toLocaleString('default', { day: '2-digit' });

        return [year, month, day].join('-');
    }
    function view_(id) {
        $.ajax({
            type: 'GET',
            url: '/DatLichTiem/getOne?Id=' + id + '',
            success: function (dt) {
                let data = dt.phieuSucKhoe
                if (data != null) {
                    $("#qr_code").attr("src", dt.qrCode);
                    $('#ten_view').val(data.TenBenhNhan);
                    $('#diachi_view').val(data.DiaChi);
                    $('#sodt_view').val(data.SoDienThoai);
                    let date = new Date(parseInt(data.NgaySinh.replace('/Date(', '').replace(')/', '')))
                    dob = formatDate(date);
                    $('#ngaysinh_view').val(dob);
                    $('#gioitinh_view').val(data.GioiTinh);
                    $('#chieucao_view').val(data.ChieuCao);
                    $('#cannang_view').val(data.CanNang);
                    $('#diung_view').val(data.DiUng);
                    $('#benhhientai_view').val(data.BenhHienTai);
                    $('#mangthai_view').val(data.DangMangThai ? 'Có' : 'Không');
                    $('#dieutribenh_view').val(data.DangDieuTriBenh ? 'Có' : 'Không');
                }
                $('#view').modal('show');
            },
            error: function (data) {
                console.log(data);
            }
        })
    }
</script>