<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ASP.NET MVC 5 - @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="Content/css/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="Content/css/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="Content/css/adminlte.min.css">
    <link rel="stylesheet" href="Content/css/custom.css">
    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteMainHeader")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteMainSidebar")
        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteFooter")
        <!-- Control Sidebar -->
        @Html.Partial("_AdminlteControlSidebar")
    </div>
    <!-- ./wrapper -->
   
    @RenderSection("Scripts", required: false)

</body>
</html>
